.dashboard-rh {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* ajusta altura considerando o navbar */
  width: 100vw;
  background-color: #9f9fa0;
  box-sizing: border-box;
  padding: 40px;
}

.card-rh {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.card-rh h2 {
  font-size: 26px;
  color: #2a5298;
  margin-bottom: 16px;
}

.card-rh p {
  font-size: 18px;
  color: #555555;
  line-height: 1.6;
}