.nova-solicitacao-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 40px auto;
  text-align: left;
}

.nova-solicitacao-card h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #373553;
}

.formulario-solicitacao label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #6d6b6b;
}

.formulario-solicitacao input,
.formulario-solicitacao select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.formulario-solicitacao input::placeholder {
  color: #999;
}

.formulario-solicitacao input:focus,
.formulario-solicitacao select:focus {
  border-color: #00aaff;
  outline: none;
  background-color: #fff;
}

.formulario-solicitacao button {
  background-color: #00aaff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario-solicitacao button:hover {
  background-color: #0088cc;
}